@import './fonts';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* switch for inline px-<value> and sm:px-<value> */
@media screen and (max-width: 697px) {
  .container {
    @apply px-6;
  }
}

/* switch for leading-loose or one of the existing  values, if none work, add another for this in config */
.leading-tight {
  line-height: 1.25 !important;
}

.button {
  padding: 15px 20px 10px 20px;
}

/* home */
.home-slider-intro {
  background-image: url('../img/intro-bg.jpg');
}

.home-slider-1 {
  background-image: url('../img/updog-2.jpg');
}

.home-slider-2 {
  background-image: url('../img/photo-1517089596392-fb9a9033e05b.jpg');
}

.home-slider-3 {
  background-image: url('../img/gs-hs.png');
}

.home-slider-4 {
  background-image: url('../img/craftr-hs.png');
}

.home-slider-5 {
  background-image: url('../img/balansa-hs.jpg');
}

.home-slider-6 {
  background-image: url('../img/balansa-hs-old.png');
}

@media screen and (max-width: 992px) {
  .home-slider-3 {
    background-image: url('../img/gs-hs-m.jpg');
  }

  .home-slider-4 {
    background-image: url('../img/craftr-hs-m.jpg');
  }

  .home-slider-5 {
    background-image: url('../img/balansa-hs-m.jpg');
  }

  .home-slider-6 {
    background-image: url('../img/balansa-hs-old-m.jpg');
  }
}

/* projects */
.header-balansa {
  background-image: url('../img/links/bp-p-hero.png');
}

/* todo: tailwind config this */
.animate-stand-out {
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/* todo: tailwind config this (add property as above to use both?) */
header {
  transition: color 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/* could be text-white class switched out? */
.header-dark {
  color: #fff;
}

/* todo: tailwind config this */
.project .cta {
  transform: translate3d(0, -15px, 0);
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/* todo: tailwind config this */
.project:hover .cta {
  transform: translate3d(0, 0, 0);
  transition: 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.link-updog {
  background-image: url('../img/links/ud-p-hero.png');
}

.link-balansa {
  background-image: url('../img/links/bp-p-hero.png');
}

.link-mcw {
  background-image: url('../img/links/mcw-p-hero.png');
}

.link-gradsmart {
  background-image: url('../img/links/gs-p-hero.png');
}

footer {
  background-color: rgba(156, 163, 175, 0.1);
}

.clear-img {
  background-image: url('../img/about/f-2020.jpg');
  background-size: 100%;
}

.blurred-img {
  background-image: url('../img/about/f-2020-blurred.jpg');
  background-size: 100%;
}

/* responsive */
.mob-menu {
  display: none;
}

.mob-menu span {
  transform: translate3d(0, -8px, 0);
  padding-left: 5px;
}

.hamburger {
  width: 30px;
  height: 30px;
}

.hamburgerTop,
.hamburgerMiddle,
.hamburgerBottom {
  width: 25px;
  height: 2px;
}

.hamburgerTop,
.hamburgerBottom {
  transition: transform 0.4s ease, margin-top 0.3s ease 0.4s;
}

.hamburgerMiddle {
  transition: opacity 0.2s ease 0.5s;
}

.hamburgerTop {
  margin-top: 7px;
}

.hamburgerMiddle {
  margin-top: 15px;
}

.hamburgerBottom {
  margin-top: 23px;
}

.hamburgerTop.open,
.hamburgerBottom.open {
  transition: margin-top 0.3s ease, transform 0.4s ease 0.3s;
}

.hamburgerTop.open {
  transform: rotate(45deg);
  margin-top: 15px;
}

.hamburgerMiddle.open {
  opacity: 0;
  transition: none;
}

.hamburgerBottom.open {
  transform: rotate(-45deg);
  margin-top: 15px;
}

/* mobile */
@media screen and (max-width: 992px) {
  .navigation {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #171717;
    height: 100vh;
    width: 100%;
    color: #fff !important;
    display: none;
    transition: 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    opacity: 0;
  }

  .navigation ul {
    padding: 30px;
  }

  .navigation ul li {
    display: block;
    padding: 10px 0;
    text-align: center;
  }

  .navigation ul .link-email {
    font-size: 1.5rem;
  }

  .open-menu {
    display: block !important;
    transition: 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    opacity: 1 !important;
  }

  .mob-menu {
    display: block;
    position: fixed;
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .mob-menu .button {
    padding: 10px 20px 0px 20px;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.15);
  }

  .project .cta {
    transform: translate3d(0, 0, 0) !important;
  }
}
